<clr-tabs>
    <clr-tab #groupTab>
        <button (click)="activeTab = 'group'" clrTabLink>Order Options</button>
        <clr-tab-content id="orderOptions">
            <app-group-options></app-group-options>
        </clr-tab-content>
    </clr-tab>
    <clr-tab #doorTab>
        <button (click)="activeTab = 'doors'" clrTabLink>Doors</button>
        <clr-tab-content>
          <app-review-widget></app-review-widget>
            <app-door-options></app-door-options>
            <app-door-grid></app-door-grid>
        </clr-tab-content>
    </clr-tab>
    <clr-tab #frontTab>
        <button (click)="activeTab = 'fronts'" clrTabLink>5-Piece Drawer Fronts</button>
        <clr-tab-content>
            <app-drw-front-options></app-drw-front-options>
            <app-drw-front-grid></app-drw-front-grid>
        </clr-tab-content>
    </clr-tab>
    <clr-tab #slabTab>
        <button (click)="activeTab = 'slabs'" clrTabLink>Solid Slabs</button>
        <clr-tab-content>
            <app-slab-options></app-slab-options>
            <app-slab-grid></app-slab-grid>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

