<div class="container">
  <div class="row">
    <div class="col-md mt-3">
      <accordion [closeOthers]="oneAtATime">
        <accordion-group heading="Please select:" panelClass="customClass" isOpen="isFirstOpen">
          <div class="row">

            <div class="card w-25 border-dark">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Wood type</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Paint Grade</option>
                    <option>Knotty Alder</option>
                    <option>Red Oak</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card w-25 border-dark">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Wood type</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Paint Grade</option>
                    <option>Knotty Alder</option>
                    <option>Red Oak</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card w-25 border-dark">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Wood type</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Paint Grade</option>
                    <option>Knotty Alder</option>
                    <option>Red Oak</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </accordion-group>
        <accordion-group heading="Content 1">
          <p>Content 1</p>
        </accordion-group>
        <accordion-group heading="Content 2">
          <p>Content 2</p>
        </accordion-group>
      </accordion>
    </div>

  </div>
</div>

