<div class="container">
  <div class="col-md mt-3">
    <button (click)="getWoodsUpdate()">GET WOOD</button>
    <div *ngFor="let wood of woods">
      <ul class="list-group">
        <li class="list-group-item">Wood Name: {{ wood.name }}</li>
        <li>ShortName: {{ wood.shortName }}</li>
        <li>Description: {{ wood.description }}</li>
        <li>Frame-Only - C/S: {{ wood.copeAndStickPriceFo }} || Flat-Panel - C/S: {{ wood.copeAndStickPriceFp }} ||
          Raised-Panel - C/S: {{ wood.copeAndStickPriceRp }}
        </li>
        <li>Frame-Only - Miter: {{ wood.miterPriceFo }}</li>
        <li>Flat-Panel - Miter: {{ wood.miterPriceFp }}</li>
        <li>Raised-Panel - Miter: {{ wood.miterPriceRp }}</li>
        <li>Frame-Only - Miter 3": {{ wood.miter3InchPriceFo }}</li>
        <li>Flat-Panel - Miter 3": {{ wood.miter3InchPriceFp }}</li>
        <li>Raised-Panel - Miter 3": {{ wood.miter3InchPriceRp }}</li>
        <li>Solid-Slab price: {{ wood.slabPrice }}</li>
      </ul>
    </div>
  </div>
</div>

<!--<div class="row">-->
<!--<div class="card w-25 border-dark m-3">-->
<!--<div class="card-body">-->
<!--<div class="form-group">-->
<!--<label for="exampleFormControlSelect1">Frame Wood type</label>-->
<!--<select class="form-control" id="exampleFormControlSelect1">-->
<!--<option>Paint Grade</option>-->
<!--<option>Knotty Alder</option>-->
<!--<option>Red Oak</option>-->
<!--<option>4</option>-->
<!--<option>5</option>-->
<!--</select>-->
<!--<img class="w-100 mt-3 border border-dark rounded" src="http://images.woodmagazine.mdpcdn.com/sites/default/files/styles/scale_1500_1500/public/image/2016/11/30/WD318111.jpg" alt="">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card w-25 border-dark m-3">-->
<!--<div class="card-body">-->
<!--<div class="form-group">-->
<!--<label for="exampleFormControlSelect1">Panel Wood type</label>-->
<!--<select class="form-control" id="exampleFormControlSelect1">-->
<!--<option>MDF 3/8"</option>-->
<!--<option>Knotty Alder</option>-->
<!--<option>Red Oak</option>-->
<!--<option>4</option>-->
<!--<option>5</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card w-25 border-dark m-3">-->
<!--<div class="card-body">-->
<!--<div class="form-group">-->
<!--<label for="exampleFormControlSelect1">Door Type</label>-->
<!--<select class="form-control" id="exampleFormControlSelect1">-->
<!--<option>Stick and Cope</option>-->
<!--<option>Miter</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
