<div class="row">
  <div *ngFor="let listOpt of doorOptionsList; let i = index" class="col-md-3">
    <div class="card">
      <div class="card-header">
        {{ listOpt.signPostTitle }}
        <clr-signpost>
          <clr-signpost-content *clrIfOpen>
            <h4 style="margin-top: 0">{{ listOpt.signPostTitle }}</h4>
            <p>{{ listOpt.signPostText }}</p>
          </clr-signpost-content>
        </clr-signpost>
      </div>
      <div class="card-block">
        <select title="{{ listOpt.signPostTitle }}" name="{{ listOpt.signPostTitle }}"
                id="{{ listOpt.id }}" class="form-control"
                [(ngModel)]="primaryOptionsChosen[i]">
          <option *ngFor="let select of listOpt.opt; let i = index"
                  [ngValue]="select">
            {{ select.name }}
          </option>
        </select>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
