<div class="container-fluid m-3 col-md-8">
  <form>
    <div class="col-md-8 form-group">
      <div class="row">
        <label for="woodType">Select Wood to Edit:</label>
        <select name="woodType" id="woodType" class="form-control" #s (change)="onSelectWood(s.value)">
          <option *ngFor="let wood of woods; let i = index" value="{{i}}">{{ wood.name }}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 form-group">
        <label for="name">Wood Type</label>
        <input type="text" id="name" class="form-control form-control-sm" [(ngModel)]="selectedWood.name" name="name">
      </div>
      <div class="col-md-4 form-group">
        <label for="shortName">Short Name</label>
        <input type="text" id="shortName" class="form-control form-control-sm" [(ngModel)]="selectedWood.shortName"
               name="shortName">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control form-control-sm" [(ngModel)]="selectedWood.description"
               name="description">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <label for="imgPath">Image Path</label>
        <input type="text" id="imgPath" class="form-control form-control-sm" [(ngModel)]="selectedWood.imagePath"
               name="imagePath">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="csFrameOnly">Cope & Stick Frame Only Price</label>
        <input type="number" id="csFrameOnly" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.copeAndStickPrice.fO" name="csFrameOnly">
      </div>
      <div class="col-md-4 form-group">
        <label for="csFlatPanel">Cope & Stick Flat Panel Price</label>
        <input type="text" id="csFlatPanel" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.copeAndStickPrice.fP" name="csFlatPanel">
      </div>
      <div class="col-md-4 form-group">
        <label for="csRaisedPanel">Cope & Stick Raised Panel Price</label>
        <input type="text" id="csRaisedPanel" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.copeAndStickPrice.rP" name="csRaisedPanel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="miterFrameOnly">Miter Frame Only Price</label>
        <input type="number" id="miterFrameOnly" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.miterPrice.fO" name="miterFrameOnly">
      </div>
      <div class="col-md-4 form-group">
        <label for="miterFlatPanel">Miter Flat Panel Price</label>
        <input type="text" id="miterFlatPanel" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.miterPrice.fP" name="miterFlatPanel">
      </div>
      <div class="col-md-4 form-group">
        <label for="miterRaisedPanel">Miter Raised Panel Price</label>
        <input type="text" id="miterRaisedPanel" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.miterPrice.rP" name="miterRaisedPanel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 form-group">
        <label for="miter3FrameOnly">Miter 3" Frame Only</label>
        <input type="number" id="miter3FrameOnly" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.miter3InchPrice.fO" name="miter3FrameOnly">
      </div>
      <div class="col-md-4 form-group">
        <label for="miter3FlatPanel">Miter 3" Flat Panel Price</label>
        <input type="text" id="miter3FlatPanel" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.miter3InchPrice.fP" name="miter3FlatPanel">
      </div>
      <div class="col-md-4 form-group">
        <label for="miter3RaisedPanel">Miter 3" Raised Panel Price</label>
        <input type="text" id="miter3RaisedPanel" class="form-control form-control-sm"
               [(ngModel)]="selectedWood.miter3InchPrice.rP" name="miter3RaisedPanel">
      </div>
    </div>
    <div class="col-md-4 form-group">
      <div class="row">
        <label for="solidSlab">Solid Slab Price</label>
        <input type="text" id="solidSlab" class="form-control form-control-sm" [(ngModel)]="selectedWood.slabPrice"
               name="slabPrice">
      </div>
    </div>
  </form>
</div>


<!--<div class="container-fluid m-3">-->
<!--<form>-->
<!--<div class="row">-->
<!--<div class="col-md-8 form-group">-->
<!--<div class="row">-->
<!--<div class="col-md-8">-->
<!--<label for="woodType">Select Wood to Edit:</label>-->
<!--<select name="woodType" id="woodType" class="form-control" #s (change)="onSelectWood(s.value)">-->
<!--<option *ngFor="let wood of woods; let i = index" value="{{i}}">{{ wood.name }}</option>-->
<!--</select>-->
<!--</div>-->

<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-8 form-group">-->
<!--<label for="name">Wood  Type</label>-->
<!--<input type="text" id="name" class="form-control form-control-sm" [(ngModel)]="selectedWood.name" name="name">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="shortName">Short Name</label>-->
<!--<input type="text" id="shortName" class="form-control form-control-sm" [(ngModel)]="selectedWood.shortName" name="shortName">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12 form-group">-->
<!--<label for="description">Description</label>-->
<!--<input type="text" id="description" class="form-control form-control-sm" [(ngModel)]="selectedWood.description" name="description">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12 form-group">-->
<!--<label for="imgPath">Image Path</label>-->
<!--<input type="text" id="imgPath" class="form-control form-control-sm" [(ngModel)]="selectedWood.imagePath" name="imagePath">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="csFrameOnly">Cope & Stick Frame Only Price</label>-->
<!--<input type="number" id="csFrameOnly" class="form-control form-control-sm" [(ngModel)]="selectedWood.copeAndStickPrice.fO" name="csFrameOnly">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="csFlatPanel">Cope & Stick Flat Panel Price</label>-->
<!--<input type="text" id="csFlatPanel" class="form-control form-control-sm" [(ngModel)]="selectedWood.copeAndStickPrice.fP" name="csFlatPanel">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="csRaisedPanel">Cope & Stick Raised Panel Price</label>-->
<!--<input type="text" id="csRaisedPanel" class="form-control form-control-sm" [(ngModel)]="selectedWood.copeAndStickPrice.rP" name="csRaisedPanel">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="miterFrameOnly">Miter Frame Only Price</label>-->
<!--<input type="number" id="miterFrameOnly" class="form-control form-control-sm" [(ngModel)]="selectedWood.miterPrice.fO" name="miterFrameOnly">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="miterFlatPanel">Miter Flat Panel Price</label>-->
<!--<input type="text" id="miterFlatPanel" class="form-control form-control-sm" [(ngModel)]="selectedWood.miterPrice.fP" name="miterFlatPanel">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="miterRaisedPanel">Miter Raised Panel Price</label>-->
<!--<input type="text" id="miterRaisedPanel" class="form-control form-control-sm" [(ngModel)]="selectedWood.miterPrice.rP" name="miterRaisedPanel">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="miter3FrameOnly">Miter 3" Frame Only</label>-->
<!--<input type="number" id="miter3FrameOnly" class="form-control form-control-sm" [(ngModel)]="selectedWood.miter3InchPrice.fO" name="miter3FrameOnly">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="miter3FlatPanel">Miter 3" Flat Panel Price</label>-->
<!--<input type="text" id="miter3FlatPanel" class="form-control form-control-sm" [(ngModel)]="selectedWood.miter3InchPrice.fP" name="miter3FlatPanel">-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<label for="miter3RaisedPanel">Miter 3" Raised Panel Price</label>-->
<!--<input type="text" id="miter3RaisedPanel" class="form-control form-control-sm" [(ngModel)]="selectedWood.miter3InchPrice.rP" name="miter3RaisedPanel">-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 form-group">-->
<!--<div class="row">-->
<!--<label for="solidSlab">Solid Slab Price</label>-->
<!--<input type="text" id="solidSlab" class="form-control form-control-sm" [(ngModel)]="selectedWood.slabPrice" name="slabPrice">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<!--TODO add CLEAR, DELETE, UPDATE buttons-->
<!--TODO integrate w firebase...-->

