<div class="form-group">
    <div class="row">
        <div class="col-md-6"><br>
            <button (click)="confirmChoices()" class="btn btn-primary">CONFIRM CHOICES</button>
            <div class="card">
                <div class="card-header">
                    Materials Selection
                    <clr-signpost>
                        <!--fix wood tooltip, add pics etc.-->
                        <clr-signpost-content *clrIfOpen>
                            <h4 style="margin-top: 0">Tooltip / Help Title</h4>
                            <p>Contents...</p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
                <div class="card-block">
                    <select title="materialsSelection" name="materialsSelection"
                            id="materialsSelection" class="form-control"
                            [(ngModel)]="woodSelected">
                        <option *ngFor="let wood of woods; let i = index" [ngValue]="wood">
                            {{ wood.name }}
                        </option>
                    </select>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">Footer Action 1</button>
                    <button class="btn btn-sm btn-link">Footer Action 2</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let listOpt of optionsList; let i = index" class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{ listOpt.signPostTitle }}
                    <clr-signpost>
                        <clr-signpost-content *clrIfOpen>
                            <h4 style="margin-top: 0">{{ listOpt.signPostTitle }}</h4>
                            <p>{{ listOpt.signPostText }}</p>
                        </clr-signpost-content>
                    </clr-signpost>
                </div>
                <div class="card-block">
                    <select title="{{ listOpt.signPostTitle }}" name="{{ listOpt.signPostTitle }}"
                            id="{{ listOpt.id }}" class="form-control"
                            [(ngModel)]="optionsChosen[i]">
                        <option *ngFor="let select of listOpt.opt; let i = index"
                                [ngValue]="select">
                            {{ select.name }}
                        </option>
                    </select>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<app-review-widget></app-review-widget>