/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/font-awesome-4.7.0/css/font-awesome.min.css');

.card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #c0c0c0;

}
.panel.customClass .panel-body {
  background-color: #e4e4e4;
}

body {
  background-color: #c6c6c6;
}
