.ag-theme-material .ag-header-cell {
    line-height: 30px;
    padding-left: 24px;
    padding-right: 0px;
}

.ag-theme-material .ag-cell {
    line-height: 30px;
}
.ag-theme-material .ag-header-group-cell {
    line-height: 30px;
}

