
<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="ruler-pencil" class="is-inverse"></clr-icon>
          <span class="title">PCD</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/order" class="nav-link nav-text">Order</a>
        <a routerLink="/edit/wood" class="nav-link nav-text">Wood Edit</a>
        <a routerLink="/all-in-one" class="nav-link nav-text">Login</a>
      <a routerLink="/dashboard" class="nav-link nav-text">Dash</a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
    <div class="header-actions">
      <a *ngIf="(isLoggedIn||async)" class="nav-link nav-text">{{(currentUser()|async).email}}</a>
      <a routerLink="/login" *ngIf="!(isLoggedIn||async)" class="nav-link nav-text">Login</a>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem>About</a>
          <a clrDropdownItem>Preferences</a>
          <a clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
      <!--_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_ S I D E N A V +_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+_+-->
    <nav class="sidenav">
      <section class="sidenav-content">
        <a class="nav-link active">
            My Profile
        </a>
        <a class="nav-link">
            Order Page
        </a>
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox">
            <label for="tabexample1">My Past Orders</label>
          <ul class="nav-list">
              <li><a class="nav-link">Saved Door Profiles</a></li>
              <li><a class="nav-link">etc...</a></li>
          </ul>
        </section>
          <section class="nav-group collapsible">
          <input id="tabexample2" type="checkbox">
              <label for="tabexample2">Helpful Links</label>
              <!-- - - - - - - - - - - - - - - need to link ngClass and 'active' tag - - - - - --->
          <ul class="nav-list">
              <li><a class="nav-link">Wood Type Overview</a></li>
              <li><a class="nav-link">Overlay and You: Measurements</a></li>
              <li><a class="nav-link active">Intro Video: How to use this site</a></li>
              <li><a class="nav-link">Finishing 101</a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>
<!--    <a class="navbar-brand" [routerLink]="['']">woodFire</a>
  </div>

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']">Home</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['dashboard']" *ngIf="(isLoggedIn|async)">Dashboard</a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
        [routerLink]="['all-in-one']" *ngIf="!(isLoggedIn|async)">All In One</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="(isLoggedIn|async)" class="navbar-text">{{(currentUser()|async).email}}</li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(isLoggedIn|async)"><a
        [routerLink]="['login']">Login</a></li>
      <li *ngIf="(isLoggedIn|async)"><a (click)="logout()" href="#">Logout</a></li>
    </ul>
  </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
</div>-->


<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="#" class="navbar-brand">BrandName</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="edit/wood">EDIT(dev) <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="order">Order</a>
    </li>
  </ul>
</nav>-->
